<h1 class="title">{{ title }}</h1>
<!-- this is setting a default latitude and longitude for the map -->
<!-- these values are retrieved using property binding from the app.component.ts file -->
<agm-map [latitude]="lat" [longitude]="lng">
  <agm-marker [latitude]="lat" [longitude]="lng">
    <agm-info-window>You Are Here!</agm-info-window>
  </agm-marker>
</agm-map>
<div class="position">
  <div>Latitude: {{ lat }} Longitude: {{ lng }}</div>
  <br />
  <div>
    Latitude:
    <input type="number" [(ngModel)]="latValue" (input)="updateLatitude()" />
  </div>
  <br />
  <div>
    Longitude:
    <input type="number" [(ngModel)]="lngValue" (input)="updateLongitude()" />
  </div>
</div>
